.tr {
  height: 80px;
  border-bottom: 1px solid #22262e;
  font-weight: 600;
  font-size: 1.1rem;
}

.symbole img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.symbole {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.symbole span {
  font-family: 600;
  font-size: 1.2rem;
  color: #9fa6b7;
}
.success {
  color: #57bc7c;
}
.error {
  color: #d33636;
}

@media (max-width: 600px) {
  .tr td {
    padding: 0 10px;
  }
}
